.cursos--container {
  display: flex;
  align-items: center;
  height: 750px;
  width: 100%;
  /*   background-size: contain;
  background-repeat: round; */
  background-color: #e0cfb4;
  align-items: center;
}

.cursos--title {
  font-weight: 600;
  font-size: 50px;
  font-family: Lovelo;
  color: white;
  margin-left: 20px;
  width: 75%;
}

.cursos-description {
  font-family: "Cardo" !important;
  line-height: 2;
  font-size: larger;
  width: 60%;
  color: white;
}

.cursos-title-description-container {
  width: 80% !important;
  background-image: url(../../../images//CursoImage1.png);
  background-size: cover;
  /* background-repeat: round;
 */
  height: 650px;
  margin-left: 90px;
  z-index: 1;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursos-description-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  align-items: flex-end;
  height: 400px;
}
.animate_fadeInDown {
  --animate-duration: 7s;
  --animation-delay: 7s;
}

.cursos-button-container {
  display: flex;
  align-items: center;
}

.cursos-button {
  background-color: white !important;
  color: black !important;
  font-family: "Cormorant Garamond Bol" !important;
  font-size: x-large !important;
  border-radius: 20px !important;
  letter-spacing: 8px !important;
  margin-bottom: 40px !important;
  align-items: center !important;
}

.cursos-subTitle-container {
  width: 0;
}

.cursos-subTitle {
  writing-mode: vertical-rl;
  font-size: 180px;
  font-weight: bold;
  margin-left: -50px;
  font-family: "Yeserva One";
}

.cursos-title-subDescription-container {
  margin: 35px 0;
}

.cursos-subDescription {
  color: white;
  margin: 0 20px;
}

@media screen and (min-width: 960px) {
  .cursos-title-description-container {
    background-repeat: round;
  }

  .cursos-description-button {
    height: 360px;
  }
}
/* posible 800px, pero tengo que arreglar el titulo */
@media screen and (max-width: 1024px) {
  .cursos--container {
    margin: 0;
    width: 100%;
    height: 820px;
    display: block;
  }

  .cursos--title {
    margin-top: 20px;
    font-size: 20px;
    width: auto;
    text-align: right;
    /* margin-right: 21px; */
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }

  .cursos-subTitle {
    writing-mode: unset;
    font-size: 85px;
    margin-left: 0;
    margin-bottom: -25px;
    margin-top: 0;
    margin: 0;
    padding-top: 30px;
  }
  .cursos-subTitle-container {
    text-align: center;
    width: auto;
  }

  .cursos-description-button {
    display: contents;
    width: 100%;
    height: 100%;
  }

  .cursos-description {
    font-size: medium;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    position: relative;
    top: 45%;
  }

  /*   .cursos-button-container */

  .cursos-title-description-container {
    width: 95% !important;
    background-image: url(../../../images//cursosImage.png);
    margin-left: 0;
    margin: 0 10px;
    background-size: cover;
    background-repeat: round;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cursos-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 44%;
  }

  .cursos-button {
    font-size: medium !important;
    background-color: black !important;
    color: white !important;
    width: 100%;
    text-align: center !important;
  }

  .cursos-title-subDescription-container {
    margin: 0;
    text-align: right;
  }

  .cursos-subDescription {
    margin: 0 20px;
    width: 91%;
  }
}

/* @media (min-width: 720px) and (max-width: 1020px) {
  .cursos--container {
    margin: 0;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
  }

  .cursos-subTitle {
    writing-mode: unset;
    font-size: 150px;
    text-align: center;
    margin-left: 0;
  }

  .cursos-subTitle-container {
    width: 100%;
  }
} */
